body{
    min-height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    border-radius: 15px;
    box-shadow: 0 10px rgba(0,0,0,0.2);
}
.card-body{
     background-color: bisque;
}

#res{
    font-size: 1.1rem;
    font-weight: 500;
}